@using Payroll.MVC.Security;
@using Payroll.Repository;
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Mohammad Asyam</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" style=" height: auto; overflow: hidden; width: auto; padding-bottom: 20%;">
            <li class="header"><strong>MAIN NAVIGATION</strong></li>
            @{ 
                if (Request.IsAuthenticated)
                {
                    foreach (var form in AccountRepo.GetPrivilegeFormsByUserName(SessionPersister.Username))
                    {
                        <li class="treeview">
                            <a href="@Url.Action("",form.Controller)">
                                <i class="@form.Icon"></i><span>@form.Menu</span>
                            </a>
                        </li>
                    }
                }
            }
            @*<li class="treeview">
                <a href="#">
                    <i class="fa fa-paperclip"></i>
                    <span>Payroll 1</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "Division")">
                            <i class="fa fa-book"></i><span>Division</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Department")">
                            <i class="fa fa-compass"></i><span>Department</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "JobPosition")">
                            <i class="fa fa-compass"></i><span>Job Position</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Employee")">
                            <i class="fa fa-book"></i><span>Employee</span>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>Payroll 2</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "Attendance")">
                            <i class="fa fa-book"></i><span>Attendance</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "PayrollPeriod")">
                            <i class="fa fa-book"></i><span>Payroll Period</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "SalaryComponent")">
                            <i class="fa fa-book"></i><span>Salary Component</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "SalaryDefaultValue")">
                            <i class="fa fa-book"></i><span>Salary Default Value</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "EmployeeSalary")">
                            <i class="fa fa-book"></i><span>Employee Salary</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Payroll")">
                            <i class="fa fa-book"></i><span>Payroll</span>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>Transaksi</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "Item")">
                            <i class="fa fa-book"></i><span>Item</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "SellingHeader")">
                            <i class="fa fa-book"></i><span>Selling Header</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "SellingDetail")">
                            <i class="fa fa-book"></i><span>Selling Detail</span>
                        </a>
                    </li>
                </ul>
            </li>*@
        </ul>
    </section>
</aside>