@model Payroll.ViewModel.JobPositionViewModel
@{ 
    Layout = "";
}

@using (Html.BeginForm("Create", "JobPosition", FormMethod.Post, new { id = "create-form", name = "create-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DivisionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control valid" data-val="true" data-val-number="The field Division must be a number." data-val-required="The Department field is required." id="DivisionId" name="DivisionId">
                    <option value="">Select Division</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control valid" data-val="true" data-val-number="The field Division must be a number." data-val-required="The Department field is required." id="DepartmentId" name="DepartmentId">
                    <option value="">Select Department</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActivated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActivated)
                    @Html.ValidationMessageFor(model => model.IsActivated, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
}


 @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
        SetDivisionId(0);
    })

    function SetDivisionId(divId) {
        $.ajax({
            url: 'http://localhost:52466/api/division',
            type: 'GET',
            success: function (result) {
                $('#DivisionId').html('<option value="0">Select Division</option>');
                $('#DepartmentId').html('<option value="0">Select Department</option>');
                $.each(result, function (i, item) {
                    var option = '<option value="' + item.Id + '">' + item.Description + '</option>';
                    $('#DivisionId').append(option);
                })
                $('#DivisionId').val(divId);
            },
            error: function (err) {
                alert(err);
                $('#DepartmentId').html('<option value="0">Select Department</option>');
            }
        })
    }

    $("#create-form").submit(function () {
        $.ajax({
            url: '@Url.Action("Create","JobPosition")',
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $("#modal-Form").modal("hide");
                    ShowList(); //refresh atau memanggil list
                }
                else {
                    alert("Error :" + result.message)
                }

            }
        })
        return false;
    })

    $('#DivisionId').change(function () {
        $.ajax({
            url: 'http://localhost:52466/api/department/division/' + $(this).val(),
            type: 'GET',
            success: function (result) {
                //alert(JSON.stringify(result));
                $('#DepartmentId').html('<option value="">Select Department</option>');
                $.each(result, function (i, item) {
                    var option = '<option value="' + item.Id + '">' + item.Description + '</option>';
                    $('#DepartmentId').append(option);

                })
            },
            error: function (err) {
                //alert(err);
                $('#DepartmentId').html('<option value="">Select Department</option>');
            }
        })
    });

</script>

