@model IEnumerable<Payroll.ViewModel.JobPositionViewModel>

@{
    Layout = "";
}


<table class="table" id="data-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentCodeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActivated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentCodeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActivated)
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-warning btn-Edit" data-id="@item.Id">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button> |

                    <button type="button" class="btn btn-sm btn-danger btn-Delete" data-id="@item.Id">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>


</table>

<script type="text/javascript">
    $("#data-list").DataTable();
    $(".btn-Edit").click(function () {
        //alert($(this).attr("data-id"));

        $.ajax({
            url: '@Url.Action("Edit","JobPosition")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal-title").html("Edit Department");
                $("#modal-Form").modal("show");
            }
        })
    })

    $(".btn-Delete").click(function () {
        //alert($(this).attr("data-id"));

        $.ajax({
            url: '@Url.Action("Delete","JobPosition")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal-title").html("Delete Department");
                $("#modal-Form").modal("show");
            }
        })
    })

</script>