@model Payroll.ViewModel.EmployeeViewModel
@{ 
    Layout = "";
}
<h3>Are you sure you want to delete this?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadgeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfHire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfHire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfResign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfResign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActivated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActivated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-danger btn-Delete-Confirm" data-id="@Model.Id">
                Delete
            </button>

            <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
        </div>
    }
</div>

<script type="text/javascript">

    $(".btn-Delete-Confirm").click(function () {

        $.ajax({
            url: '@Url.Action("DeleteConfirm","Employee")',
            type: "post",
            data: { id : $(this).attr("data-id") },
            success: function (result) {
                if (result.success) {
                    $("#modal-Form").modal("hide");
                    ShowList(); // refresh, memanggil #table-list
                }
                else {
                    alert("Error : " + result.message);
                }

            }
        })
    })

</script>

